* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.countries_container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /* gap: 14px; */
  background: rgb(243, 251, 245);
}
.country_card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.country_card {
  display: flex;
  flex-direction: column;
  /* height: 250px; */
  background: rgb(255, 254, 254);
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  gap: 10px;
  box-shadow: 0 0 2px rgb(85, 83, 82);
}
.country_flag_image {
  height: 150px;
  width: 250px;
  object-fit: cover;
}

.countries_details_container {
  padding: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.country_name {
  display: flex;
  align-items: center;
}
.population_language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
